html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --siteHeader: rgb(40, 100, 137);
  --primary: blue;
  --secondary: rgb(125, 125, 125);
  --light-gray: rgb(231, 230, 230);
  --header: rgb(55, 55, 55);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

hr {
  border: 1px solid var(--light-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--header);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}
