.siteLayout {
  display: grid;
  justify-content: center;
  min-height: 100vh;
  width: 1300px;
  max-width: 98vw;
  grid-template-columns: 230px 100px 2fr;
  margin: auto;
}

.siteNavbar {
  padding-left: 25px;
}

.siteContent {
  padding: 0 20px;
  border-radius: 10px;
}

.footer {
  background-color: var(--light-gray);
}

.footerHeader {
  text-transform: uppercase;
  color: var(--secondary);
  font-size: 25px;
  font-weight: 500;
  padding: 20px;
}

.link {
  font-size: 20px;
  color: var(--secondary);
  margin-bottom: 10px;
  list-style: none;
}

.verticalHr {
  width: 2px;
  min-height: 100vh;
  margin-left: 60px;
  background-color: var(--light-gray);
}
