.headerTitle {
  color: var(--siteHeader);
  font-size: 55px;
}
.linkTitle {
  font-size: 22px;
}

.link {
  font-size: 18px;
  color: var(--secondary);
  margin-bottom: 10px;
  list-style: none;
}

.activeLink {
  color: var(--primary);
}
